<!DOCTYPE HTML>
<html>

<head>
  <title>simple_light - examples</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html"><span class="logo_colour">Encrypted Tweets</span></a></h1>
         
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/login_session_keys">Home</a></li>
          <li ><a href="{{ url_for('p1', filename='send_tweet.html') }}">Send Tweet</a></li>
          <li class="selected"><a href="{{ url_for('p2',filename='receive_tweet.html') }}">Receive Tweet</a></li>
          
        </ul>
      </div>
    </div>
    <div id="site_content">
      <h1>Recibir Tweet</h1>
        
        <div class="form-group">
          <label>From</label>
          <input type="text" class="form-control" id="user" placeholder="Enter username"> 
        </div>
        <div id="tweet"></div>
        <button class="btn btn-primary" onclick="submit_entry();">Submit</button>
        <script>
          
          function submit_entry(){
            var user = document.getElementById('user');
            
      
            var entry = {
              user: user.value,
              
            };
      
      
            fetch(`${window.origin}/receive`, {
              method: "POST",
              credentials: "include",
              body: JSON.stringify(entry),
              cache: "no-cache",
              headers: new Headers({
                "content-type":"application/json"
              })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data[0])
                document.querySelector("#tweet").innerText = data[0]
            })
            
          }
        </script>
      </div>
    </div>
   
  </div>
</body>
</html>
